.cart {
  padding: 4rem;
  background: #fff;
}

.cart__items {
  margin-right: 1rem;
  max-width: 500px;
  position: relative;
  flex-flow: column;
  align-items: center;
  max-width: 800px;
  width: 90%;
  margin: 0 auto;
}

.cart__summary {
  padding: 1rem;
  background: #fff;
}

.summary__title {
  font-size: 1.2rem;
  font-weight: bold;
}
.cart__empy {
}
.summary__price {
  display: flex;
  align-items: center;
}

.summary__price span:nth-child(1) {
  font-size: 0.9rem;
  flex: 0.6;
}

.summary__price span:nth-child(2) {
  flex: 0.4;
  font-size: 1.2rem;
  font-weight: bold;
}

.summary__checkoutBtn {
  border: 1px solid var(--secondary-color);
  border-radius: 10px;
  background: var(--clr-primary-4);
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

.summary__checkoutBtn:hover {
  opacity: 0.75;
}
.cartItem {
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
}

.cartItem__image {
  width: 350px;
  object-fit: contain;
  border-radius: 10px;
}

.cartItem__details {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: var(--secondary-color);
}

.details__title {
  font-size: 1rem;
  font-weight: bold;
}

.details__desc {
  font-size: 0.8rem;
}

.details__price {
  font-size: 1rem;
  font-weight: bold;
}

.cartItem__actions {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 0.6rem;
}

.cartItem__qty {
  display: flex;
  align-items: center;
}

.cartItem__qty input {
  padding: 10px;
  margin-left: 0.4rem;
  width: 60px;
  border-radius: 10px;
  border: 1px solid var(--secondary-color);
  outline: none;
}

.deleteItemBtn {
  color: tomato;
  float: right;
}
.deleteItemBtn:hover {
  color: red;
  cursor: pointer;
}
.cart__summary__container {
  display: flex;
  align-items: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.cart__summary__wrapper {
  position: relative;
  margin: 10px 0 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  border-radius: 10px;
  max-width: 100%;
  display: flex;
}
.goToMenuBtn {
  color: white;
  font-size: 1.5rem;
  background-color: var(--clr-primary-4);
  height: 80px;
  width: 225px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
  transition: all 0.4s;
}
.goToMenuBtn:hover {
  background: #fff;
  color: var(--clr-primary-4);
  border: 2px solid var(--clr-primary-4);
  transition-duration: 0.2s ease-out;
}
.center {
  text-align: center;
  padding: 2%;
}
.form__container {
  flex-flow: column;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}
.input__adress {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.form__title {
  width: 100%;
}
.clear-btn {
  text-transform: capitalize;
  width: 10rem;
  height: 1.5rem;
  display: grid;
  align-items: center;
  background: transparent;
  border-color: transparent;
  color: #e66b6b;
  color: var(--clr-red-light);
  font-size: 0.85rem;
  letter-spacing: 0.1rem;
  letter-spacing: var(--spacing);
  transition: all 0.3s linear;
  transition: var(--transition);
  margin: 1.25rem auto 0;
}
.cursor-pointer {
  cursor: pointer;
}
.hd {
  image-rendering: -webkit-optimize-contrast;
}
