.cards {
}

h1 {
  text-align: center;
}

.cards__container {
  flex-flow: column;
  align-items: center;

  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .cards__container {
    width: 80%;
  }
}
@media screen and (max-width: 600px) {
  .cards__container {
    width: 100%;
  }
}
.cards__wrapper {
  position: relative;
  margin: 50px 0 45px;
}

.cards__items {
  margin-bottom: 24px;
}

.cards__item {
  display: flex;
  flex: 1;
  margin: 0 1rem;
  border-radius: 10px;
}

.cards__item__link {
  display: flex;
  flex-flow: column;
  width: 100%;
  box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
  -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
  border-radius: 10px;
  overflow: hidden;
  text-decoration: none;
}
.cards__item_button_remove {
  margin-top: 30px;
}

.cards__item__pic-wrap {
  position: relative;
  width: 100%;
  padding-top: 67%;
  overflow: hidden;
}

.fade-img {
  animation-name: fade-img;
  animation-duration: 2s;
}

.cards__item__pic-wrap::after {
  content: attr(data-category);
  position: absolute;
  bottom: 0;
  margin-left: 10px;
  padding: 6px 8px;
  max-width: calc((100%) - 60px);
  font-size: 12px;
  font-weight: 500;
  color: white;
  background-color: rgb(87, 131, 253);
  box-sizing: border-box;
}

.cards__item__img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  transition: all 0.2s linear;
}

.cards__item__img:hover {
  transform: scale(1.1);
}

.cards__item__info {
  padding: 20px 30px 30px;
}

.cards__item__text {
  color: var(--clr-grey-1);
  font-size: 18px;
  line-height: 24px;
}
.cards__item_button {
  color: white;
  background-color: var(--clr-primary-4);
  height: 50px;
  width: 50px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition-duration: 0.2s;
  border: none;
}
.cards__item_button:hover {
  background-color: var(--clr-primary-6);
}
.cards__item_button_remove {
  float: right;
  color: tomato;
}
.cards__item_button_remove:hover {
  color: red;
  cursor: pointer;
}
.cards_item_amountLeft {
  color: green;
}
.cards__item__price {
  float: right;
  color: var(--clr-grey-1);
}

@media only screen and (min-width: 1200px) {
  .content__blog__container {
    width: 84%;
  }
}

@media only screen and (min-width: 1024px) {
  .cards__items {
    display: flex;
  }
}

@media only screen and (max-width: 1024px) {
  .cards__item {
    margin-bottom: 2rem;
  }
}
.cards__header {
  background-color: var(--clr-primary-4);
  color: white;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  -webkit-box-shadow: 6px 7px 16px -4px rgb(148 145 148);
  -moz-box-shadow: 6px 7px 16px -4px rgba(148, 145, 148, 1);
  box-shadow: 6px 7px 16px -4px rgb(148 145 148);
  font-size: 3rem;
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 650px) {
  .cards__header {
    font-size: 2rem;
  }
}
@media screen and (max-width: 470px) {
  .cards__header {
    font-size: 1.5rem;
  }
}
.item-text {
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: var(--clr-grey-5);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.hd {
  image-rendering: -webkit-optimize-contrast;
}
@media screen and (max-width: 575px) {
  .sortSmall {
    padding-right: 0px;
    padding-left: 5px;
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 0rem !important;
  }
}
@media screen and (max-width: 800px) {
  .removepadding {
    padding-right: 0px;
    padding-left: 0px;
    max-width: 920px;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.line {
  background: var(--clr-primary-4);
  height: 20px;
  width: 6rem;
  height: 0.25rem;
  margin-left: auto;
  margin-right: auto;
}
.bgcolor {
  background-color: var(--clr-grey-9);
}
